@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav__link {
        @apply relative text-base font-medium w-fit block text-black;
        position: relative;
        padding-bottom: 3px; /* Add some space below the text */
    }

    .nav__link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px; /* Line height */
        background-color: #7947df; /* yellow-400 color */
        width: 100%;
        transform: scaleX(0); /* Initially hidden */
        transition: transform 0.3s ease; /* Smooth animation */
        transform-origin: left; /* Scale from left on hover */
    }

    .nav__link:hover::after {
        transform: scaleX(1); /* Expand underline on hover */
    }
}

.text-bg{
    /* background-image: linear-gradient(to right,#8750f7 0%, #ffffff 100%); */
    background-color: black;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
